h1 {
	color: #FF0000;
/*	border-color: purple;
	border-width: 5px;
	border-style: solid;
*/
	border: 1px solid red;
}

h4 {
	background: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
}

li {
	color: rgba(0,0,0,.5);
}
